.icon_advita { background-image: url('png/advita.png'); background-repeat: no-repeat; }

.icon_rub-big { background-image: url('png/rub-big.png'); background-repeat: no-repeat; }

.icon_rub-little { background-image: url('png/rub-little.png'); background-repeat: no-repeat; }

.icon_rub-small { background-image: url('png/rub-small.png'); background-repeat: no-repeat; }

.icon_zenit_logo { background-image: url('png/zenit_logo.png'); background-repeat: no-repeat; }

